body {
  color: #333;
  font-size: 18px;
}


h2{
  margin-bottom: 2rem;
}

header {
  margin-bottom: 1rem;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 1rem;
}
nav ul li a{
  display: inline-block;
  list-style: none;
  text-decoration: none;
}

.fas {
  font-size: 1.5rem !important;
  margin-left: .2rem;
}