body {
  color: #333;
  font-size: 18px;
  background: #f8f8f8;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* customizations */
nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 1rem 0;
}
header nav ul li a{
  list-style: none;
  text-decoration: none;
  color: #333 !important;
}
header nav ul li a:hover{
  color: #6c757d !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  margin-top:.5rem;
}

.fas {
  font-size: 1.5rem !important;
  margin-left: .4rem;
}

.btn {
  border-radius:1px;
  border: 0;
  font-weight: bold;
}
.btn-primary {
  background-color: rgb(10, 117, 189);
}
.btn-primary:hover {
  background-color: rgba(14, 141, 226, 0.907);
}
.form-control {
  border-radius: 1px;
}

.dataTables_wrapper .dataTables_filter input, .dataTables_wrapper select {
  
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .325rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

} 

label {
  color: #595959;
  font-style: italic;
}

